<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="top">   
        <h:form id="frm1">
            <p:commandButton value="Agregar" actionListener="#{usuariosMB.obtenerListas()}" update=":frmAdd:selectGrupo,:frmAdd:selectPersona" icon="ui-icon-circle-plus" onclick="PF('usDialog').show();"  /> 
        </h:form>

    </ui:define>

    <ui:define name="content">
        <h:form id="frmUs">
            <p:growl id="growl" sticky="false" showDetail="true"/>
            <p:dataTable id="tabUsuarios" value="#{usuariosMB.lsus}" var="us" >
                <p:column>
                    <f:facet name="header">ID</f:facet>
                        #{us.usuarioID}
                </p:column>
                <p:column>
                    <f:facet name="header">Usuario</f:facet>
                        #{us.usuarioNombre}
                </p:column>
                <p:column>
                    <f:facet name="header">Primer Nombre</f:facet>
                        #{us.personaspersonaID.nombre1}
                </p:column>
                <p:column>
                    <f:facet name="header">Primer Apellido</f:facet>
                        #{us.personaspersonaID.apellido1}
                </p:column>
                <p:column>
                    <f:facet name="header">Correo</f:facet>
                        #{us.personaspersonaID.personaCorreo}
                </p:column>
                <p:column>
                    <f:facet name="header">Grupo</f:facet>
                        #{us.grupoID.grupoNombre}
                </p:column>
                <p:column>
                    <f:facet name="header">Edición</f:facet>
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{usuariosMB.modificarUsuario(us)}" />
                    <p:commandButton icon="ui-icon-trash" actionListener="#{usuariosMB.eliminarUsuario(us)}" />
                </p:column>
                
            </p:dataTable>
        </h:form>
        <p:dialog header="Usuario" widgetVar="usDialog" id="dialogdd" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmAdd">
                <p:outputPanel id="usDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Usuario:" />
                        <p:inputText value="#{usuariosMB.us.usuarioNombre}" validatorMessage="Campo Nombre requerido" />

                        <h:outputText value="Contraseña:" />
                        <p:password id="pwd1" value="#{usuariosMB.us.usuarioPassword}" validatorMessage="Campo Contraseña requerido" />

                        <h:outputText value="Confirmación Contraseña:" />
                        <p:password id="pwd2" value="#{usuariosMB.passMatch}" />

                        <h:outputText value="Grupo:" />
                        <p:selectOneMenu id="selectGrupo" value="#{usuariosMB.idGrupo}" >                                
                            <f:selectItem itemValue="0" itemLabel="Seleccionar" />
                            <f:selectItems value="#{usuariosMB.lsgp}" var="gp" itemValue="#{gp.grupoID}" itemLabel="#{gp.grupoNombre}" ></f:selectItems>                                           
                        </p:selectOneMenu>

                        <h:outputText value="Persona:" />
                        <p:selectOneMenu id="selectPersona" value="#{usuariosMB.idPersona}" >                            
                            <f:selectItem itemValue="0" itemLabel="Seleccionar" />                         
                            <f:selectItems value="#{usuariosMB.lspersona}" var="p" itemValue="#{p.personaID}" itemLabel="#{p.idDocumento} - #{p.nombre1}" ></f:selectItems>
                        </p:selectOneMenu>

                        <p:commandButton actionListener="#{usuariosMB.agregarUsuario()}" update=":frmUs:growl" value="Agregar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
        <!-- Formulario de Modificación de Usuarios -->
        <p:dialog header="Usuario" widgetVar="usDialogMod" id="dialogMod" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmMod">
                <p:outputPanel id="usDetailMod" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Usuario:" />
                        <p:inputText value="#{usuariosMB.usSeleccionado.usuarioNombre}" />

                        <p:outputLabel value="Cambiar contraseña:" />
                        <p:selectBooleanCheckbox id="cambioPassCheck" value="#{usuariosMB.habilitarCambioPass}" >
                            <p:ajax update=":frmMod:pwd1,:frmMod:pwd2" listener="#{usuariosMB.habilitarCambioPasswd()}" />
                        </p:selectBooleanCheckbox>

                        <h:outputText value="Contraseña:" />
                        <p:password id="pwd1" disabled="#{usuariosMB.habilitado}" value="#{usuariosMB.usSeleccionado.usuarioPassword}" required="false" />

                        <h:outputText value="Confirmación Contraseña:" />
                        <p:password id="pwd2" disabled="#{usuariosMB.habilitado}" value="#{usuariosMB.passMatch}" required="false" />

                        <h:outputText value="Grupo:" />
                        <p:selectOneMenu id="selectGrupo" value="#{usuariosMB.idGrupo}" >                                                            
                            <f:selectItems value="#{usuariosMB.lsgp}" var="gp" itemValue="#{gp.grupoID}" itemLabel="#{gp.grupoNombre}" ></f:selectItems>                                           
                        </p:selectOneMenu>

                        <h:outputText value="Persona:" />
                        <p:inputText disabled="true" value="#{usuariosMB.usSeleccionado.personaspersonaID.idDocumento} - #{usuariosMB.usSeleccionado.personaspersonaID.nombre1}" />

                        <p:commandButton actionListener="#{usuariosMB.aplicarCambiosUsuario()}" update=":frmUs:growl" value="Modificar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
