<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="top">   
        <h:form>
            <p:commandButton value="Agregar" icon="ui-icon-circle-plus" onclick="PF('deptoDialog').show();"  /> 
        </h:form>

    </ui:define>

    <ui:define name="content">
        <h:form id="frmDepartamentos">
            <p:growl id="growl" sticky="true" showDetail="true"/>
            <p:dataTable id="tblDepartamentos" value="#{departamentoMB.listaDepartamentos}" var="depto" >
                <p:column>
                    <f:facet name="header">ID</f:facet>
                        #{depto.deptoID}
                </p:column>
                <p:column>
                    <f:facet name="header">Nombre</f:facet>
                        #{depto.deptoNombre}
                </p:column>
                <p:column>
                    <f:facet name="header">Pais</f:facet>
                        #{depto.paisID.paisNombre}
                </p:column>
                <p:column>
                    <f:facet name="header">Edición</f:facet>
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{departamentoMB.abrirDialogoModificar(depto)}" update=":frmMod:deptoDetailMod" oncomplete="PF('deptoDialogMod').show();" >
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog header="Departamento" widgetVar="deptoDialog" id="dialogdd" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmAddDepartamento">
                <p:outputPanel id="deptoDetalle" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Nombre: " />
                        <p:inputText value="#{departamentoMB.departamentoNuevo.deptoNombre}" validatorMessage="Campo 2 requerido" />

                        <h:outputText value="Pais:" />
                        <p:selectOneMenu id="selectPais" value="#{departamentoMB.idPais}" >                                
                            <f:selectItem itemValue="0" itemLabel="Seleccionar" />
                            <f:selectItems value="#{departamentoMB.listaPaises}" var="pa" itemValue="#{pa.paisID}" itemLabel="#{pa.paisID}- #{pa.paisNombre}" ></f:selectItems>                                           
                        </p:selectOneMenu>

                        <p:commandButton actionListener="#{departamentoMB.agregarDepartamento()}" update=":frmDepartamentos:growl" value="Agregar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>

        <p:dialog header="Departamento" widgetVar="deptoDialogMod" id="dialogMod" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmMod">
                <p:outputPanel id="deptoDetailMod" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Nombre: " />
                        <p:inputText value="#{departamentoMB.departamentoSeleccionado.deptoNombre}" validatorMessage="Campo  requerido" />


                        <h:outputText value="Pais:" />
                        <p:selectOneMenu id="selectEditPais" value="#{departamentoMB.idPais}" >                                                            
                            <f:selectItems value="#{departamentoMB.listaPaises}" var="paisE" itemValue="#{paisE.paisID}" itemLabel="#{paisE.paisNombre}" ></f:selectItems>                                           
                        </p:selectOneMenu>


                        <p:commandButton actionListener="#{departamentoMB.modificarDepartamento()}" update=":frmDepartamentos:growl" value="Modificar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>



    </ui:define>

</ui:composition>
