<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="top">   
    </ui:define>

    <ui:define name="content">
         <p:panel header="Bienvenido al Sistema de Administracion de Colecturias de Agua SACSA.">
            <p:outputLabel value="Pulsa sobre mí para ver como exploto">
                <!-- Aplicamos un efecto al texto cuando se pulse sobre el -->
                <!-- Efectos posibles en el atributo type:-->
                <!-- blind,clip,drop,explode,fold,puff,slide,scale,bounce, -->
                <!-- highlight pulsate shake size transfer -->
                <p:effect type="explode" event="click" />
            </p:outputLabel>
        </p:panel>
    </ui:define>

</ui:composition>

