<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Inicio - SACSA</title>
    </h:head>
    <h:body>
        <h:form id="frmMessages">
            <p:growl id="growl" showDetail="true" sticky="false" ></p:growl>
        </h:form>
        <p:dialog id="LoginDialog" widgetVar="LoginDialog" visible="true" closable="false" draggable="false" modal="true"  resizable="false"  position="center" rendered="true" >
            <p:panel >
                <p:graphicImage library="resources" name="/images/logoSacsa.png" />
            </p:panel>
            <h:form id="frmLogin" >
                
                <p:panelGrid columns="2" >
                    <p:outputLabel value="Usuario: "  />
                    <p:inputText id="userName" value="#{loginMB.usuario.usuarioNombre}" requiredMessage="Campo Usuario es Requerido" required="true" />
                    
                    <p:outputLabel value="Contraseña: "  />
                    <p:password id="userPass" value="#{loginMB.usuario.usuarioPassword}" requiredMessage="Campo Contraseña es Requerido" required="true" />
                    

                    <p:commandButton value="Ingresar" action="#{loginMB.verificarAccesoUsuario()}" update=":frmMessages:growl" />
                </p:panelGrid>
            </h:form>
        </p:dialog>
    </h:body>
</html>

