<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="top">   
         <p:growl id="growl" sticky="false" showDetail="true"/>
        <h:form id="frmCliente">
            
            <p:outputLabel value="Nombre del Cliente: " for="acMaxResults" />
            <p:autoComplete id="acMaxResults" maxResults="5" value="#{cuentaPorCobrarMB.idCliente}"  completeMethod="#{cuentaPorCobrarMB.completeText}" />
            <p:commandButton value="Detalle de cuentas" icon="ui-icon-contact" update=":frmCuentas" actionListener="#{cuentaPorCobrarMB.obtenerCuentasCliente}" /> 
        </h:form>



    </ui:define>

    <ui:define name="content">

        <h:form id="frmCuentas">
            <p:commandButton rendered="#{cuentaPorCobrarMB.mostrarInfoCuentas}" value="Agregar cuenta" icon="ui-icon-circle-plus" onclick="PF('deptoDialog').show();" />

            <p:dataTable id="tabResults" var="cuenta" rendered="#{cuentaPorCobrarMB.mostrarInfoCuentas}" value="#{cuentaPorCobrarMB.listaCuentasPorCobrar}" emptyMessage="No se encontro cuentas">
                <p:column>
                    <f:facet name="header">  
                        <h:outputText value="Cliente num cuenta" />  
                    </f:facet>  
                    <h:outputText value="#{cuenta.clienteNumeroCuenta}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">  
                        <h:outputText value="Estado" />  
                    </f:facet>  
                    <h:outputText value="#{cuenta.estadoCuenta}"/>                          
                </p:column>
                <p:column>                        
                    <f:facet name="header">  
                        <h:outputText value="Num CTA" />  
                    </f:facet>  
                    <h:outputText value="#{cuenta.numeroCuenta}"/>                              
                </p:column>
                <p:column>                        
                    <f:facet name="header">  
                        <h:outputText value="Saldo" />  
                    </f:facet>  
                    <h:outputText value="#{cuenta.saldo}"/>                             
                </p:column>

                <p:column>
                    <f:facet name="header">Acciones</f:facet>
                    <p:commandButton icon="fa fa-dollar" actionListener="#{cuentaPorCobrarMB.verAbonos(cuenta)}" update=":frmAddDireccion:DirccDetail" process="@this" onclick="PF('DirccDialog').show();"  />


                </p:column>

            </p:dataTable>
        </h:form>

        <p:dialog header="Cuenta" widgetVar="deptoDialog"  modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmAddDCuenta">
                <p:outputPanel id="deCuenta" style="text-align:center;">
                           <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="N° Cuenta: " />
                        <p:inputText value="#{cuentaPorCobrarMB.cuentaNueva.numeroCuenta}" validatorMessage="Campo numero de cuenta requerido" />

                        <h:outputText value="Saldo: " />
                        <p:inputText value="#{cuentaPorCobrarMB.cuentaNueva.saldo}" validatorMessage="Campo saldo de cuenta requerido" />

                        <p:commandButton actionListener="#{cuentaPorCobrarMB.agergarCuenta()}" update=":growl,:frmCuentas:tabResults" value="Agregar" onsuccess="PF('deptoDialog').hide();" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
       
        </p:dialog>

        <p:dialog style="width: 50%; left: 25%; " header="Abonos de cuenta #{cuentaPorCobrarMB.cuentaSeleccionada.clienteNumeroCuenta} " widgetVar="DirccDialog" id="dialogDircc" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmAddDireccion">
                <p:outputPanel id="DirccDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">
                        <p:dataTable id="tabAbonos" var="abono"  value="#{cuentaPorCobrarMB.listaAbonosCliente}" emptyMessage="No se encontraron abonos para la cuenta seleccionada">
                            <p:column>
                                <f:facet name="header">  
                                    <h:outputText value="ID" />  
                                </f:facet>  
                                <h:outputText value="#{abono.abonoID}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">  
                                    <h:outputText value="Actual" />  
                                </f:facet>  
                                <h:outputText value="#{abono.abonoActual}"/>                          
                            </p:column>
                            <p:column>                        
                                <f:facet name="header">  
                                    <h:outputText value="Anterior" />  
                                </f:facet>  
                                <h:outputText value="#{abono.abonoAnterior}"/>                              
                            </p:column>
                        </p:dataTable>
                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:define>

</ui:composition>
