/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-23-2015, 08:37:42 PM
    Author     : deguevara
*/

.ui-widget-content {
    background: #ffffff none repeat scroll 0 0;
    border: 0px solid #dddddd;
    color: #333333;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-color: red;
    border-style: none;
    border-width: 0px !important;
    padding: 4px 10px;
}

