<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">

        <h:form>
            <p:commandButton value="Agregar" icon="ui-icon-circle-plus" onclick="PF('dlg1').show();" />
        </h:form>

        <h:form id="frmTipoDoc">
            <p:growl id="growl" sticky="true" showDetail="true"/>
            <p:dataTable id="tabTipoDocumento" value="#{tipoDocumentoMB.listaDoc}" var="p" >
                <p:column>
                    <f:facet name="header" >ID</f:facet>
                        #{p.documentoID}
                </p:column>
                <p:separator />
                <p:column>
                    <f:facet name="header" >Tipo de documento</f:facet>
                        #{p.tipo}
                </p:column>

                <p:column>
                    <f:facet name="header" >Edición</f:facet>
                    <p:commandButton oncomplete="PF('dlg2').show()" icon="ui-icon-pencil" title="View" update=":frmTipoDoc:tabTipoDocumento" >
                        <f:setPropertyActionListener value="#{p}" target="#{tipoDocumentoMB.tipoDocSeleccionado}" />
                    </p:commandButton>   

                    <p:commandButton icon="ui-icon-trash" action="#{tipoDocumentoMB.eliminarTipoDocumento()}">
                        <f:setPropertyActionListener value="#{p}" target="#{tipoDocumentoMB.tipoDocSeleccionado}"/>
                    </p:commandButton>
                    
                </p:column>

            </p:dataTable>

        </h:form>

        <p:dialog header="Dialogo Agregar" widgetVar="dlg1" modal="true" appendTo="@(body)" minWidth="530" minHeight="400">

            <h:form id="frmAgregar">             
                <p:outputLabel value="Tipo de documento " />
                <p:inputText value="#{tipoDocumentoMB.tipoDoc.tipo}" />
                <p:commandButton value="Agregar" actionListener="#{tipoDocumentoMB.agregarTipoDocumento()}" update=":frmTipoDoc:growl"/>
            </h:form>
        </p:dialog>
        <p:dialog  header="Dialogo Modificar" widgetVar="dlg2" minWidth="530" minHeight="400" id="dialogdd" modal="true" resizable="false" appendTo="@(body)" >

            <h:form id="frmModificar">
                <p:panel header="Tipo documento" id="formMod">
                    <p:messages />
                    <h:panelGrid columns="2" columnClasses="label, value">
                        <h:outputText value="Tipo Documento *" />
                        <p:inputText value="#{tipoDocumentoMB.tipoDoc.tipo}" required="true" label="documento"/>

                    </h:panelGrid>
                </p:panel>

                <p:commandButton value="Agregar" actionListener="#{tipoDocumentoMB.modificartipoDocumento()}" update=":frmTipoDoc:tabTipoDocumento"/>


            </h:form>
        </p:dialog>

    </ui:define>
</ui:composition>

