<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" >


    <ui:define name="top">
        <h:form id="frm1">
            <p:commandButton value="Agregar" icon="ui-icon-circle-plus" onclick="PF('usDialog').show();"  /> 
        </h:form>
    </ui:define>

    <ui:define name="content">
        <h:form id="frmUs">
            <p:growl id="growl" sticky="false" showDetail="true"/>
            <p:dataTable id="tabUsuarios" value="#{modificacionMB.lsp}" var="p" >
                <p:column>
                    <f:facet name="header">ModID</f:facet>
                        #{p.modID}
                </p:column>
                <p:column>
                    <f:facet name="header">ModTabla</f:facet>
                        #{p.modTabla}
                </p:column>
                <p:column>
                    <f:facet name="header">ModFechaActualizacion</f:facet>
                        #{p.modFechaActualizacion}
                </p:column>
                <p:column>
                    <f:facet name="header">ModUsuarioEditor</f:facet>
                        #{p.modUsuarioEditor}
                </p:column>                
                <p:column>
                    <f:facet name="header">ModDescripcion</f:facet>
                        #{p.modDescripcion}
                </p:column>


                <p:column>
                    <f:facet name="header">Edición</f:facet>
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{modificacionMB.modificarModifi(p)}" />

                    <p:commandButton icon="ui-icon-trash" actionListener="#{modificacionMB.eliminarModificacion(p)}" />

                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog header="Modificacion" widgetVar="usDialog" id="dialogdd" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmAdd">
                <p:outputPanel id="usDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="ModTabla:" />
                        <p:inputText value="#{modificacionMB.p.modTabla}" validatorMessage="Campo Nombre requerido" />

                        <h:outputText value="ModFechaActualizacion:" />
                        <p:calendar id="popup" value="#{modificacionMB.p.modFechaActualizacion}" navigator="true" pattern="yyyy-MM-dd" yearRange="c-70:c"  />

                        <h:outputText value="ModUsuarioEditor:" />
                        <p:inputText value="#{modificacionMB.p.modUsuarioEditor}" validatorMessage="Campo  requerido" />

                        <h:outputText value="ModDescripcion:" />
                        <p:inputText value="#{modificacionMB.p.modDescripcion}" validatorMessage="Campo  requerido" />

                        <p:commandButton actionListener="#{modificacionMB.agregarModificacion()}" update=":frmUs:growl" value="Agregar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>

        <!-- Formulario de Modificación de Usuarios -->
        <p:dialog header="Modificacion" widgetVar="usDialogMod" id="dialogMod" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmMod">
                <p:outputPanel id="usDetailMod" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="ModTabla:" />
                        <p:inputText value="#{modificacionMB.PSeleccionado.modTabla}" />

                         <h:outputText value="ModFechaActualizacion:" />
                        <p:calendar id="popup" value="#{modificacionMB.p.modFechaActualizacion}" navigator="true" pattern="yyyy-MM-dd" yearRange="c-70:c"  />

                        <h:outputText value="ModUsuarioEditor:" />
                        <p:inputText value="#{modificacionMB.PSeleccionado.modUsuarioEditor}" />  

                        <h:outputText value="ModDescripcion:" />
                        <p:inputText value="#{modificacionMB.PSeleccionado.modDescripcion}" />   

                        <p:commandButton actionListener="#{modificacionMB.aplicarCambiosModificacion()}" update=":frmUs:growl" value="Modificar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog> 
    </ui:define>

</ui:composition>
