<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                 xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >
    

    <ui:define name="top">
          <h:form id="frm1">
            <p:commandButton value="Agregar" icon="ui-icon-circle-plus" onclick="PF('usDialog').show();"  /> 
        </h:form>
    </ui:define>

    <ui:define name="content">
        <h:form id="frmUs">
            <p:growl id="growl" sticky="false" showDetail="true"/>
            <p:dataTable id="tabUsuarios" value="#{paisMB.lsp}" var="p" >
                <p:column>
                    <f:facet name="header">ID</f:facet>
                        #{p.paisID}
                </p:column>
                <p:column>
                    <f:facet name="header">Nombre</f:facet>
                        #{p.paisNombre}
                </p:column>
                <p:column>
                    <f:facet name="header">Moneda Pais</f:facet>
                        #{p.paisMoneda}
                </p:column>
                <p:column>
                    <f:facet name="header">Simbolo Moneda</f:facet>
                        #{p.paisMonedaSimbolo}
                </p:column>
               
               
                <p:column>
                    <f:facet name="header">Edición</f:facet>
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{paisMB.modificarPais(p)}" />

                    <p:commandButton icon="ui-icon-trash" actionListener="#{paisMB.eliminarPais(p)}" />

                </p:column>
            </p:dataTable>
 </h:form>
        <p:dialog header="Usuario" widgetVar="usDialog" id="dialogdd" modal="true" resizable="false" appendTo="@(body)" >
                <h:form id="frmAdd">
                <p:outputPanel id="usDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Nombre Pais:" />
                        <p:inputText value="#{paisMB.p.paisNombre}" validatorMessage="Campo Nombre requerido" />
                        
                        <h:outputText value="Moneda Pais:" />
                        <p:inputText value="#{paisMB.p.paisMoneda}" validatorMessage="Campo  requerido" />

                        <h:outputText value="Pais Moneda:" />
                        <p:inputText value="#{paisMB.p.paisMonedaSimbolo}" validatorMessage="Campo  requerido" />

                       
                        
                        <p:commandButton actionListener="#{paisMB.agregarPais()}" update=":frmUs:growl" value="Agregar" />
                                                
                    </p:panelGrid>
                </p:outputPanel>
                     </h:form>
            </p:dialog>
        
            <!-- Formulario de Modificación de Usuarios -->
            <p:dialog header="Usuario" widgetVar="usDialogMod" id="dialogMod" modal="true" resizable="false" appendTo="@(body)" >
                <h:form id="frmMod">
                <p:outputPanel id="usDetailMod" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Nombre:" />
                        <p:inputText value="#{paisMB.PSeleccionado.paisNombre}" />
                        
                        <h:outputLabel value="Pais Moneda:" />
                        <p:inputText value="#{paisMB.PSeleccionado.paisMoneda}" />
                        
                        <h:outputText value="Contraseña:" />
                        <p:inputText value="#{paisMB.PSeleccionado.paisMonedaSimbolo}" />               
                           
                        <p:commandButton actionListener="#{paisMB.aplicarCambiosPais()}" update=":frmUs:growl" value="Modificar" />
                        
                    </p:panelGrid>
                </p:outputPanel>
                     </h:form>
            </p:dialog> 
    </ui:define>

</ui:composition>
