<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog header="Dirección" widgetVar="DirccDialog" id="dialogDircc" modal="true" resizable="false" appendTo="@(body)" >
        <h:form id="frmAddDireccion">
            <p:outputPanel id="DirccDetail" style="text-align:center;">
                <p:panelGrid  columns="2" columnClasses="label,value">

                    <h:outputText value="Dirección: " />
                    <p:inputTextarea value="#{personasMB.dir.direccionDir}" validatorMessage="Campo Dirección requerido" />

                    <p:outputLabel for="pais" value="País: " />
                    <p:selectOneMenu id="pais" value="#{personasMB.idPaisSeleccionado}" style="width:150px">
                        <p:ajax listener="#{personasMB.obtenerDeptoPorPais(false)}" />
                        <f:selectItem itemLabel="Seleccionar" itemValue="0" noSelectionOption="true" />
                        <f:selectItems value="#{personasMB.lsPaises}" var="pais" itemLabel="#{pais.paisNombre}" itemValue="#{pais.paisID}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="depto" value="Departamento: " />
                    <p:selectOneMenu id="depto" value="#{personasMB.idDeptoSeleccionado}" disabled="#{personasMB.mostrarDeptos}" style="width:150px">
                        <p:ajax listener="#{personasMB.obtenerMunicipiosPorDepto(false)}" />
                        <f:selectItem itemLabel="Seleccionar" itemValue="0" noSelectionOption="true" />
                        <f:selectItems value="#{personasMB.lsDepto}" var="depto" itemLabel="#{depto.deptoNombre}" itemValue="#{depto.deptoID}"  />
                    </p:selectOneMenu>

                    <p:outputLabel for="municipio" value="Municipio: " />
                    <p:selectOneMenu id="municipio" value="#{personasMB.idMunicipioSeleccionado}" disabled="#{personasMB.mostrarMunicipios}" style="width:150px">
                        <f:selectItem itemLabel="Seleccionar" itemValue="0" noSelectionOption="true" />
                        <f:selectItems value="#{personasMB.lsMunicipio}" var="muni" itemLabel="#{muni.muniNombre}" itemValue="#{muni.municipioID}"  />
                    </p:selectOneMenu>
                    
                    <p:commandButton action="#{personasMB.agregarDireccion()}" rendered="#{personasMB.mostrarBotonAgregarDir}" value="Agregar" />
                    <p:commandButton action="#{personasMB.modificarDireccion()}" rendered="#{personasMB.mostrarBotonModificarDir}" value="Modificar" />

                </p:panelGrid>
            </p:outputPanel>
        </h:form>
    </p:dialog>

</ui:composition>

