<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Hello from Facelets
        
        <h:form>
            <h:panelGrid columns="2">
                <h:outputLabel value="DUI" />
                <h:inputText value="#{personaManagedBean.p.idDocumento}" required="true" />
                <h:outputLabel value="Nombre 1:" />
                <h:inputText value="#{personaManagedBean.p.nombre1}" required="true" />
                <h:outputLabel value="Nombre 2:" />
                <h:inputText value="#{personaManagedBean.p.nombre2}" required="true" />
                <h:outputLabel value="Apellido 1:" />
                <h:inputText value="#{personaManagedBean.p.apellido1}" required="true" />
                <h:outputLabel value="Apellido 2:" />
                <h:inputText value="#{personaManagedBean.p.apellido2}" required="true" />
                <h:outputLabel value="Genero:" />
                <h:inputText value="#{personaManagedBean.p.genero}" required="true" />
                <h:outputLabel value="Correo:" />
                <h:inputText value="#{personaManagedBean.p.personaCorreo}" required="true" />
                <h:outputLabel value="Fecha Nacimiento:" />
                <h:inputText value="#{personaManagedBean.fechaNacimiento}" required="true" >
                    <f:convertDateTime pattern="yyyy-MM-dd" />
                </h:inputText>
                <h:outputLabel value="Estado Civil:" />
                <h:inputText value="#{personaManagedBean.p.estadoCivil}" required="true" />
                
                <h:commandButton value="Insertar" action="#{personaManagedBean.insertarPersona()}" />
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

