<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="top">
        <h:form>
            <p:commandButton value="Agregar" icon="ui-icon-circle-plus" actionListener="#{personasMB.limpiarFormAddPersona()}" onclick="PF('dlg1').show();" />
        </h:form>        

    </ui:define>
    <ui:define name="content">
        <h:form id="frmPersona">
            <p:growl id="growl" sticky="true" showDetail="true"/>
            <p:dataTable id="tabpersonas" value="#{personasMB.lsp}" var="p" >
                <p:column width="60">
                    <p:rowToggler /> 
                    <p:outputLabel value="Detalles" />
                </p:column>
                <p:column>
                    <f:facet name="header" >ID</f:facet>
                        #{p.personaID}
                </p:column>
                <p:column>
                    <f:facet name="header" >Nombre</f:facet>
                        #{p.nombre1} #{p.nombre2}
                </p:column>
                <p:column>
                    <f:facet name="header" >Apellidos</f:facet>
                        #{p.apellido1} #{p.apellido2}
                </p:column>
                <p:column>
                    <f:facet name="header" >Fecha Nacimiento</f:facet>
                    <p:outputLabel id="fechaNaciTab" value="#{p.personaFechNacimiento}">                        
                        <f:convertDateTime for="fechaNaciTab" pattern="yyyy-MM-dd" />
                    </p:outputLabel>  

                </p:column>
                <p:column>
                    <f:facet name="header" >Correo</f:facet>
                        #{p.personaCorreo}
                </p:column>
                <p:column>
                    <f:facet name="header" >Documento</f:facet>
                        #{p.idDocumento}
                </p:column>
                <p:column>
                    <f:facet name="header" >Estado Civil</f:facet>
                        #{p.estadoCivil}
                </p:column>
                <p:column>
                    <f:facet name="header" >Género</f:facet>
                        #{p.genero}
                </p:column>
                <p:column>
                    <f:facet name="header" >Edición</f:facet>
                    <p:commandButton oncomplete="PF('dlg2').show()" icon="ui-icon-pencil" title="View" process="@this" update=":frmPersona:personaUp" >
                        <f:setPropertyActionListener value="#{p}" target="#{personasMB.pSeleccionadaM}" />
                    </p:commandButton>                    
                    <p:commandButton icon="ui-icon-trash" action="#{personasMB.eliminarPersona()}" update=":frmPersona:growl" process="@this" >
                        <f:setPropertyActionListener value="#{p}" target="#{personasMB.pSeleccionada}" />
                    </p:commandButton>

                </p:column>
                <p:rowExpansion styleClass="rowExpansionCL">
                    <p:panelGrid columns="2" style="background-color:#D8D8D8;" columnClasses="sixty-percent top-alignment, forty-percent top-alignment" >

                        <p:commandButton value="Agregar Dirección" actionListener="#{personasMB.cargarPersonaID(p, true)}" update=":frmAddDireccion:DirccDetail" process="@this" onclick="PF('DirccDialog').show();" />
                        <p:commandButton value="Agregar Teléfono" actionListener="#{personasMB.cargarPersonaID(p, false)}" process="@this" onclick="PF('TelDialog').show();" />

                        <p:dataTable id="tabDirecciones" var="d" value="#{p.direccionList}">
                            <f:facet name="header">
                                Direcciones
                            </f:facet>
                            <p:columnGroup type="header">
                                <p:row>
                                    <p:column headerText="Dirección" />
                                    <p:column headerText="Departamento" />
                                    <p:column headerText="País" />
                                    <p:column headerText="" />
                                </p:row>                                
                            </p:columnGroup>                            
                            <p:column rendered="#{d.direccionEstado}">

                                #{d.direccionDir} - #{d.municipioID.muniNombre}
                            </p:column>
                            <p:column rendered="#{d.direccionEstado}">

                                #{d.municipioID.deptoID.deptoNombre}
                            </p:column>
                            <p:column rendered="#{d.direccionEstado}">

                                #{d.municipioID.deptoID.paisID.paisNombre}
                            </p:column>
                            <p:column rendered="#{d.direccionEstado}">
                                <p:commandButton oncomplete="PF('DirccDialog').show()" action="#{personasMB.cargarDatosDireccionEnModal()}" icon="ui-icon-pencil" title="View" process="@this" update=":frmAddDireccion:DirccDetail" >
                                    <f:setPropertyActionListener value="#{d}" target="#{personasMB.dir}" />
                                </p:commandButton> 
                                <p:commandButton icon="ui-icon-trash" action="#{personasMB.eliminarDireccion()}" process="@this" >
                                    <f:setPropertyActionListener value="#{d}" target="#{personasMB.dir}" />
                                </p:commandButton> 
                            </p:column>
                        </p:dataTable>
                        <p:dataTable id="tabTelefonos" var="t" value="#{p.telefonoList}">
                            <f:facet name="header">
                                Teléfonos
                            </f:facet>
                            <p:columnGroup type="header">
                                <p:row>
                                    <p:column headerText="" colspan="2" />
                                </p:row>                                
                            </p:columnGroup> 
                            <p:column rendered="#{t.telEstado}" >                              
                                #{t.telNumero}                                
                            </p:column>                            
                            <p:column rendered="#{t.telEstado}">                             
                                <p:commandButton icon="ui-icon-trash" action="#{personasMB.eliminarTelefono()}" process="@this" >
                                    <f:setPropertyActionListener value="#{t}" target="#{personasMB.tel}" />
                                </p:commandButton>                            
                            </p:column>
                        </p:dataTable>

                    </p:panelGrid>                    
                </p:rowExpansion>
            </p:dataTable>

            <!-- Edición : Aqui van los díalogos para editar persona  -->

            <p:dialog header="DialogoAgregar" widgetVar="dlg1" minWidth="530" minHeight="400" >
                <p:wizard widgetVar="wiz" flowListener="#{personasMB.onFlowProcess}" style="width: 650px;height: 400px;">
                    <p:tab id="personal" title="Persona">
                        <p:panel header="Datos Personales">

                            <h:panelGrid columns="3" columnClasses="label, value">

                                <h:outputText value="Primer Nombre: *" />
                                <p:inputText id="Nom1Persona" value="#{personasMB.p.nombre1}" requiredMessage="Requerido" required="true" label="nombreuno" />
                                <p:message for="Nom1Persona" showDetail="true" />
                                <h:outputText value="Segundo Nombre: *" />
                                <p:inputText id="Nom2Persona" value="#{personasMB.p.nombre2}" requiredMessage="Requerido" required="true" label="nombredos" />
                                <p:message for="Nom2Persona" showDetail="true" />
                                <h:outputText value="Primer Apellido: *" />
                                <p:inputText id="Ape1Persona" value="#{personasMB.p.apellido1}" requiredMessage="Requerido" required="true" label="apeuno" />
                                <p:message for="Ape1Persona" showDetail="true" />
                                <h:outputText value="Segundo Apellido: *" />
                                <p:inputText id="Ape2Persona" value="#{personasMB.p.apellido2}" requiredMessage="Requerido" required="true" label="apedos" />
                                <p:message for="Ape2Persona" showDetail="true" />
                                <h:outputText value="DUI: " />
                                <p:inputText id="DuiPersona" value="#{personasMB.p.idDocumento}" requiredMessage="Requerido" />
                                <p:message for="DuiPersona" showDetail="true" />
                                <h:outputText value="Saltar: " />
                                <h:selectBooleanCheckbox value="#{personasMB.skip}" />
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>

                    <p:tab id="contact" title="Adicional">
                        <p:panel header="Información adicional">
                            <p:messages />
                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Correo: *" />
                                <p:inputText value="#{personasMB.p.personaCorreo}" required="true" label="Email" requiredMessage="Requerido" />

                                <h:outputText value="Estado Civil: *" />
                                <p:inputText value="#{personasMB.p.estadoCivil}" requiredMessage="Requerido" />

                                <h:outputText value="Fecha de Nacimiento: *" />
                                <p:calendar id="fechaNaci" value="#{personasMB.p.personaFechNacimiento}" navigator="true" pattern="yyyy-MMM-dd" yearRange="c-70:c" />

                                <h:outputText value="Genero: *" />
                                <p:inputText value="#{personasMB.p.genero}" requiredMessage="Requerido" />
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>

                    <p:tab id="confirm" title="Confirmación">
                        <p:panel header="Confirmación">
                            <h:panelGrid id="confirmation" columns="2" columnClasses="grid,grid">
                                <p:panelGrid columns="2" columnClasses="label, value" >
                                    <h:outputText value="Primer Nombre: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.p.nombre1}" styleClass="outputLabel"/>

                                    <h:outputText value="Segundo Nombre: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.p.nombre2}" styleClass="outputLabel"/>

                                    <h:outputText value="Primer Apellido: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.p.apellido1}" styleClass="outputLabel"/>

                                    <h:outputText value="Segundo Apellido: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.p.apellido2}" styleClass="outputLabel"/>
                                </p:panelGrid>

                                <p:panelGrid columns="2" columnClasses="label, value"  >
                                    <h:outputText value="DUI: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.p.idDocumento}" styleClass="outputLabel"/>

                                    <h:outputText value="Estado Civil: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.p.estadoCivil}" styleClass="outputLabel"/>

                                    <h:outputText value="Correo: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.p.personaCorreo}" styleClass="outputLabel"/>

                                    <h:outputText value="Fecha de Nacimiento: " style="font-weight: bold;" />
                                    
                                    <h:outputText value="#{personasMB.p.personaFechNacimiento}" styleClass="outputLabel">
                                        <f:convertDateTime for="fechaNaciTab" pattern="yyyy-MM-dd" />
                                    </h:outputText>
                                </p:panelGrid>

                            </h:panelGrid>

                            <p:commandButton value="Agregar" actionListener="#{personasMB.agregarPersona()}" oncomplete="PF('wiz').loadStep('personal', false)" update=":frmPersona:growl" process="@this"/>
                        </p:panel>
                    </p:tab>
                </p:wizard>
            </p:dialog>

            <p:dialog  header="DialogoModificar" widgetVar="dlg2" minWidth="530" minHeight="400" >

                <p:wizard id="personaUp" flowListener="#{personasMB.onFlowProcess}" style="width: 530px;height: 400px;">

                    <p:tab id="personal2" title="Persona">
                        <p:panel header="Datos Personales">
                            <p:messages />
                            <h:panelGrid columns="2" columnClasses="label, value">
                                
                                <h:outputText value="Primer Nombre: *" />
                                <p:inputText value="#{personasMB.pSeleccionadaM.nombre1}" required="true" label="nombreuno"/>

                                <h:outputText value="Segundo Nombre: *" />
                                <p:inputText value="#{personasMB.pSeleccionadaM.nombre2}" required="true" label="nombredos"/>

                                <h:outputText value="Primer Apellido: *" />
                                <p:inputText value="#{personasMB.pSeleccionadaM.apellido1}" required="true" label="apeuno"/>

                                <h:outputText value="Segundo Apellido: *" />
                                <p:inputText value="#{personasMB.pSeleccionadaM.apellido2}" required="true" label="apedos"/>

                                <h:outputText value="DUI: " />
                                <p:inputText value="#{personasMB.pSeleccionadaM.idDocumento}"/>

                                <h:outputText value="Skip to last: " />
                                <h:selectBooleanCheckbox value="#{personasMB.skip}" />
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>

                    <p:tab id="contact2" title="Adicional">
                        <p:panel header="Información adicional">
                            <p:messages />
                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Correo: *" />
                                <p:inputText value="#{personasMB.pSeleccionadaM.personaCorreo}" required="true" label="Email"/>

                                <h:outputText value="Estado Civil: " />
                                <p:inputText value="#{personasMB.pSeleccionadaM.estadoCivil}"/>

                                <h:outputText value="Fecha de Nacimiento: " />
                                <p:calendar id="fechaNaciMod" value="#{personasMB.pSeleccionadaM.personaFechNacimiento}" navigator="true" pattern="yyyy-MMM-dd" yearRange="c-70:c" />
                                
                                <h:outputText value="Genero: " />
                                <p:inputText value="#{personasMB.pSeleccionadaM.genero}" />
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>

                    <p:tab id="confirm2" title="Confirmación">
                        <p:panel header="Confirmación">
                            <h:panelGrid id="confirmation2" columns="2" columnClasses="grid,grid">
                                <p:panelGrid columns="2" columnClasses="label, value">
                                    <h:outputText value="Primer Nombre: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.pSeleccionadaM.nombre1}" styleClass="outputLabel"/>

                                    <h:outputText value="Segundo Nombre: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.pSeleccionadaM.nombre2}" styleClass="outputLabel"/>

                                    <h:outputText value="Primer Apellido: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.pSeleccionadaM.apellido1}" styleClass="outputLabel"/>

                                    <h:outputText value="Segundo Apellido: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.pSeleccionadaM.apellido2}" styleClass="outputLabel"/>
                                </p:panelGrid>

                                <p:panelGrid columns="2" columnClasses="label, value">
                                    <h:outputText value="DUI: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.pSeleccionadaM.idDocumento}" styleClass="outputLabel"/>

                                    <h:outputText value="Estado Civil: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.pSeleccionadaM.estadoCivil}" styleClass="outputLabel"/>

                                    <h:outputText value="Correo: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.pSeleccionadaM.personaCorreo}" styleClass="outputLabel"/>

                                    <h:outputText value="Fecha de Nacimiento: " style="font-weight: bold;" />
                                    <h:outputText value="#{personasMB.pSeleccionadaM.personaFechNacimiento}" styleClass="outputLabel">
                                        <f:convertDateTime pattern="yyyy-MM-dd" />
                                    </h:outputText>
                                </p:panelGrid>

                            </h:panelGrid>

                            <p:commandButton value="Modificar" actionListener="#{personasMB.modificarPersona()}" update=":frmPersona:growl" process="@this"/>
                        </p:panel>
                    </p:tab>


                </p:wizard>

            </p:dialog>

        </h:form> 
        <ui:include src="telefonoedicion.xhtml" />
        <ui:include src="direccionedicion.xhtml" />
    </ui:define>    

</ui:composition>
