<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"> 

    <p:dialog header="Telefonos" widgetVar="TelDialog" id="dialogTel" modal="true" resizable="false" appendTo="@(body)" >
        <h:form id="frmAddTelefono">
            <p:outputPanel id="TelDetail" style="text-align:center;">
                <p:panelGrid  columns="2" columnClasses="label,value">

                    <h:outputText value="Teléfono:" />
                    <p:inputText value="#{personasMB.tel.telNumero}" validatorMessage="Campo Telefono requerido" />
                    
                    <p:commandButton action="#{personasMB.agregaTelefono()}" value="Agregar" />

                </p:panelGrid>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
</ui:composition>
