<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       Vista
       
       <h:form>
           <h:commandButton value="Print" actionListener="#{personaManagedBean.mostrar()}" />
           <h:dataTable value="#{personaManagedBean.listap}" var="p" >
           <h:column>
               <f:facet name="header">Campo 1</f:facet>
               #{p.nombre1}
           </h:column>
           <h:column>
               <f:facet name="header">Campo 2</f:facet>
               #{p.idDocumento}
           </h:column>
           <h:column>
               <f:facet name="header">Campo 3</f:facet>
               #{p.personaCorreo}
           </h:column>
           <h:column>
               <f:facet name="header">Campo 4</f:facet>
               #{p.apellido1}
           </h:column>
           <h:column>
               <f:facet name="header">Campo 5</f:facet>
               #{p.estadoCivil}
           </h:column>
           
       </h:dataTable>
           
       </h:form>
       
       
    </h:body>
</html>

