<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">
        <h:form id="frmAddS">
            <p:commandButton value="Agregar"  icon="ui-icon-circle-plus" onclick="PF('servicioDialog').show();" /> 
        </h:form>
    </ui:define>

    <ui:define name="content">
        
        <h:form id="frmServicios" >
            <p:growl id="growl" showDetail="true" sticky="false" />
            <p:dataTable id="tabServicios" var="s" value="#{serviciosMB.lsServicios}" >
                <p:column>
                    <f:facet name="header">Tipo</f:facet>
                        #{s.cobroTipo}
                </p:column>
                <p:column>
                    <f:facet name="header">Descripción</f:facet>
                        #{s.cobroDescripcion}
                </p:column>
                <p:column>
                    <f:facet name="header">Edición</f:facet>
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{serviciosMB.modificarServicio(s)}" />
                    
                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog header="Servicio" widgetVar="servicioDialog" id="dialogAddS" modal="true" resizable="false" appendTo="@(body)" >
                <h:form id="frmAddServicio">
                <p:outputPanel id="ServicioDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Tipo de Cobro:" />
                        <p:inputText value="#{serviciosMB.servicio.cobroTipo}" validatorMessage="Campo Tipo de Servicio requerido" />
                        
                        <h:outputText value="Descripción:" />
                        <p:inputTextarea maxlength="255" rows="5" value="#{serviciosMB.servicio.cobroDescripcion}" required="false" />
                        <!--<p:inputText value="#{serviciosMB.servicio.cobroDescripcion}" required="false" /> -->
                        
                        <p:commandButton actionListener="#{serviciosMB.agregarServicio()}" update=":frmServicios:growl" value="Agregar" />
                                                
                    </p:panelGrid>
                </p:outputPanel>
                     </h:form>
            </p:dialog>
                
    </ui:define>

</ui:composition>
