<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">




    <ui:define name="top">

    </ui:define>

    <ui:define name="content">
        <h:form id="frmUs">
            <p:growl id="growl" sticky="false" showDetail="true"/>
            <ui:repeat value="#{parametroMB.lsp}" var="p" >

                <p:panelGrid columns="2">
                    <f:facet name="header">
                        Sacsa 

                    </f:facet>

                    <h:outputText value="Inicio Lectura:" />
                    <h:outputText value=" #{p.inicioLectura}" />

                    <h:outputText value="Fin Lectura:" />
                    <h:outputText value="#{p.finLectura}" />

                    <h:outputText value="Cuota Base:" />
                    <h:outputText value=" #{p.cuotaBase}" />

                    <h:outputText value="Nombre Institucion:" />
                    <h:outputText value=" #{p.nombreInstitucion}" />

                    <h:outputText value="Fecha Sistema:" />
                    <h:outputText value=" #{p.fechaSistema}" />

                    <h:outputText value="Fecha Apertura Sistema:" />
                    <h:outputText value=" #{p.fechaAperturaSistema}" />

                    <h:outputText value="Valor Incremento:" />
                    <h:outputText value=" #{p.valorIncremento}" />

                    <h:outputText value="Dia Limite Pago:" />
                    <h:outputText value=" #{p.diaLimitePago}" />

                    <h:outputText value="Numero Factura:" />
                    <h:outputText value="  #{p.numFactura}" />
                    
                    <h:outputText value="Límite de Consumo:" />
                    <h:outputText value=" #{p.limitedeConsumo}" />
                    
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{parametroMB.modificarParametro(p)}" />

                </p:panelGrid>
            </ui:repeat>
            
            <p:panel>
                <f:facet name="header" >Sistema de Cobros Automático</f:facet>
                <p:panel>      
                    <h:outputText value="Fecha de ejecución:" />
                    <p:spinner value="#{facturacionMB.diaEjecucion}" min="1" max="28" />
                </p:panel>
                <p:panel>      
                    <h:outputText value="Hora de ejecución:" />
                    <p:spinner value="#{facturacionMB.horaInicio}" min="1" max="24" />
                </p:panel>
                <p:commandButton value="Iniciar proceso" actionListener="#{facturacionMB.iniciarProcesoAutomatico()}" />
                <p:commandButton value="Terminar proceso" actionListener="#{facturacionMB.detenerProcesoAutomatico()}" />
            </p:panel>
        </h:form>




       

        <!-- Formulario de Modificación de Usuarios -->
        <p:dialog header="Lectura" widgetVar="usDialogMod" id="dialogMod" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmMod">
                <p:outputPanel id="usDetailMod" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="InicioLectura:" />
                        <p:inputText value="#{parametroMB.PSeleccionado.inicioLectura}" />

                        <h:outputLabel value="FinLectura:" />
                        <p:inputText value="#{parametroMB.PSeleccionado.finLectura}" />

                        <h:outputText value="CuotaBase:" />
                        <p:inputText value="#{parametroMB.PSeleccionado.cuotaBase}" />           

                        <h:outputText value="NombreInstitucion:" />
                        <p:inputText value="#{parametroMB.PSeleccionado.nombreInstitucion}" />  

                        <p:outputLabel for="popup" value="FechaSistema:" />
                        <p:calendar id="popup" value="#{parametroMB.PSeleccionado.fechaSistema}" navigator="true" pattern="yyyy-MM-dd" yearRange="c-70:c"  />
                        
                        <p:outputLabel for="popup" value="FechaAperturaSistema:" />
                        <p:calendar id="popup1" value="#{parametroMB.PSeleccionado.fechaAperturaSistema}" navigator="true" pattern="yyyy-MM-dd" yearRange="c-70:c"/>
                    
                        <h:outputText value="LimiteConsumo:" />
                        <p:inputText value="#{parametroMB.PSeleccionado.limitedeConsumo}" />  

                        <h:outputText value="ValorIncremento:" />
                        <p:inputText value="#{parametroMB.PSeleccionado.valorIncremento}" />  

                        <h:outputText value="DiaLimitePago:" />
                        <p:inputText value="#{parametroMB.PSeleccionado.diaLimitePago}" />  

                        <h:outputText value="NumFactura:" />
                        <p:inputText value="#{parametroMB.PSeleccionado.numFactura}" />  

                        <p:commandButton actionListener="#{parametroMB.aplicarCambiosParametro()}" update=":frmUs:growl" value="Modificar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog> 
    </ui:define>

</ui:composition>
