<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >


    <ui:define name="top">
        <h:form id="frm1">
            <p:commandButton value="Agregar" icon="ui-icon-circle-plus" onclick="PF('directivaDialogo').show();"  /> 
        </h:form>
    </ui:define>

    <ui:define name="content">
        <h:form id="frmDirectiva">
            <p:growl id="growl" sticky="false" showDetail="true"/>
            <p:dataTable id="tabDirectivas" value="#{directivaMB.listaDirectivas}" var="directiva" >
                <p:column>
                    <f:facet name="header">ID</f:facet>
                        #{directiva.idCargo}
                </p:column>
                <p:column>
                    <f:facet name="header">Cargo</f:facet>
                        #{directiva.cargo}
                </p:column>
                <p:column>
                    <f:facet name="header">Descripcion</f:facet>
                        #{directiva.descripcion} 
                </p:column>
                <p:column>
                    <f:facet name="header">Edición</f:facet>
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{directivaMB.abrirDialogoModificar(directiva)}" update=":frmMod:directivaDetailMod" oncomplete="PF('usDirectivaMod').show();"/>


                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog header="Directiva" widgetVar="directivaDialogo" id="dialogdd" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmAdd">
                <p:outputPanel id="usDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Nombre: " />
                        <p:inputText value="#{directivaMB.directivaNueva.cargo}" validatorMessage="Campo Nombre requerido" />

                        <h:outputText value="Descripcion: " />
                        <p:inputTextarea maxlength="255" rows="5" value="#{directivaMB.directivaNueva.descripcion}" required="true"  validatorMessage="Descripcion requerida"/>


                        <p:commandButton actionListener="#{directivaMB.agregarDirectiva()}" update=":frmDirectiva:growl" value="Agregar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>

        <!-- Formulario de Modificación de Directivas -->
        <p:dialog header="Usuario" widgetVar="usDirectivaMod" id="dialogMod" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmMod">
                <p:outputPanel id="directivaDetailMod" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Nombre:" />
                        <p:inputText value="#{directivaMB.directivaSeleccionada.cargo}" />

                        <h:outputLabel value="Descripcion: " />
                        <p:inputText value="#{directivaMB.directivaSeleccionada.descripcion}" />


                        <p:commandButton actionListener="#{directivaMB.modificarDirectiva}" update=":frmDirectiva:growl" value="Modificar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog> 
    </ui:define>

</ui:composition>
