<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">
        <h:form id="frmAddS">
            <p:commandButton value="Agregar"  icon="ui-icon-circle-plus" onclick="PF('grupoDialog').show();" /> 
        </h:form>
    </ui:define>

    <ui:define name="content">

        <h:form id="frmGrupos" >
            <p:growl id="growl" showDetail="true" sticky="false" />
            <p:dataTable id="tabGrupos" var="grupo" value="#{grupoMB.lsGrupos}" >
                <p:column>
                    <f:facet name="header">Nombre</f:facet>
                        #{grupo.grupoNombre}
                </p:column>
                <p:column>
                    <f:facet name="header">Descripción</f:facet>
                        #{grupo.grupoDescripcion}
                </p:column>
                <p:column>
                    <f:facet name="header">Edición</f:facet>
                    <ui:remove>
                        <p:commandButton icon="ui-icon-pencil" actionListener="#{grupo.modificacio(s)}" />
                    </ui:remove>
                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog header="Grupo" widgetVar="grupoDialog" id="dialogAddS" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmAddGrupo">
                <p:outputPanel id="GrupoDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Nombre Grupo:" />
                        <p:inputText value="#{grupoMB.grupo.grupoNombre}" validatorMessage="Campo requerido" />

                        <h:outputText value="Descripción:" />
                        <p:inputTextarea maxlength="255" rows="5" value="#{grupoMB.grupo.grupoDescripcion}" required="false" />
                        <p:commandButton actionListener="#{grupoMB.agregarGrupo}" update=":frmGrupos:growl" value="Agregar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
