<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >


    <ui:define name="top">
        <h:form id="frm1">
            <p:outputLabel value="Ingrese Correlativo Factura: " />
            <p:inputText value="#{pagosMB.correlativoBusqueda}" />
            <p:commandButton value="Buscar" icon="ui-icon-circle-search" actionListener="#{pagosMB.buscarFactura()}" /> 
        </h:form>
    </ui:define>

    <ui:define name="content">
        <h:form id="frmFacturas">
            <p:growl id="growl" sticky="false" showDetail="true"/>
            <p:panel id="panelFacturas">
                <p:panelGrid id="gridFactura" columns="2">
                    <p:outputLabel value="Correlativo :" />
                    <p:outputLabel value="#{pagosMB.c.correlativoFactura}" />

                    <p:outputLabel value="Fecha de Facturación :" />
                    <p:outputLabel id="fechRegis" value="#{pagosMB.c.registroFactura}" >
                        <f:convertDateTime for="fechRegis" pattern="yyyy-MM-dd" />
                    </p:outputLabel>

                    <p:outputLabel value="Lectura:" />
                    <p:outputLabel value="#{pagosMB.c.lecturaID.valorLectura}" />

                    <p:outputLabel value="Desde :" />
                    <p:outputLabel id="fechDesde" value="#{pagosMB.c.lecturaID.periodoInicio}" >
                        <f:convertDateTime for="fechDesde" pattern="yyyy-MM-dd" />
                    </p:outputLabel>

                    <p:outputLabel value="Hasta :" />
                    <p:outputLabel id="fechHasta" value="#{pagosMB.c.lecturaID.periodoFinal}" >
                        <f:convertDateTime for="fechHasta" pattern="yyyy-MM-dd" />
                    </p:outputLabel>

                    <p:outputLabel value="Mora :" />
                    <p:outputLabel value="#{pagosMB.c.clienteMDeuda}" />

                    <p:outputLabel value="Meses Deuda :" />
                    <p:outputLabel value="#{pagosMB.c.clienteMNumMsPagar}" />

                    <p:outputLabel value="Cargo :" />
                    <p:outputLabel value="#{pagosMB.c.cargo}" />
                    
                    <p:outputLabel rendered="#{pagosMB.mensajeHabilado}" value="Estado de la Factura :" />
                    <p:outputLabel rendered="#{pagosMB.mensajeHabilado}" value="Factura Cancelada: #{pagosMB.c.pagoCancelado}" />
                </p:panelGrid>
                <p:dataTable id="tabFacturas" value="#{pagosMB.c.detalleServicioList}" var="det" >
                    <p:column>
                        <f:facet name="header">Servicio</f:facet>
                            #{det.servicio.cobroTipo}
                    </p:column>
                    <p:column>
                        <f:facet name="header">Descripción</f:facet>
                            #{det.servicio.cobroDescripcion}
                    </p:column>                
                </p:dataTable>
                
                <p:commandButton value="Pagar Factura" disabled="#{pagosMB.botonHabilado}" actionListener="#{pagosMB.pagarFactura()}" update="growl,gridFactura" />
            </p:panel>                
        </h:form>

    </ui:define>

</ui:composition>
