<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">



    <ui:define name="content">
        <h:form>
            <p:dataTable id="tabAbonos0" value="#{abonoMB.lsabo}" var="ab" >      </p:dataTable>
                
            <p:panelGrid columns="2" >
                <h:outputLabel value="ID de abono"></h:outputLabel>
                <p:inputText id="id" value="#{abonoMB.abonoAgregar.abonoID}" />

                <h:outputLabel value="Abono actual"></h:outputLabel>
                <p:inputText id="Abonoactual" value="#{abonoMB.abonoAgregar.abonoActual}"
                             label="Nome" required="true" requiredMessage="Campo obligatorio">

                </p:inputText>
                
                    <h:outputLabel value="cuenta: "></h:outputLabel>
                    <p:inputText id="cuenta" value="#{abonoMB.abonoAgregar.cuentasporCobrarClientescuenta.clienteNumeroCuenta}"
                             label="Nome" required="true" requiredMessage="Campo obligatorio">

                </p:inputText>

                <p:commandButton actionListener="#{abonoMB.agregarAbonos()}" value="Agregar" />

            </p:panelGrid>
            
     
        </h:form>
    </ui:define>

</ui:composition>
