<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

   
    
    <ui:define name="top">   
        <h:form id="frm1">
            <p:commandButton value="Agregar" actionListener="#{abonoMB.obtenerListas()}" update=":frmAdd" icon="ui-icon-circle-plus" onclick="PF('abDialog').show();"  /> 
        </h:form>

    </ui:define>


    <ui:define name="content">
        <h:form id="AbonoForm">
            <p:growl id="growl" sticky="false" showDetail="true"/>

            <p:dataTable id="tabAbonos" value="#{abonoMB.lsabo}" var="ab" >

                <p:column headerText="Cuentas" filterBy="#{ab.cuentasporCobrarClientescuenta.numeroCuenta}" filterMatchMode="exact">
                    <p:outputLabel value="#{ab.cuentasporCobrarClientescuenta.numeroCuenta}"/>

                </p:column>

                <p:column headerText="ID abono" filterBy="#{ab.abonoID}" filterMatchMode="exact">
                    <p:outputLabel value="#{ab.abonoID}"/>

                </p:column>
                <p:column headerText="ID abono" filterBy="#{ab.abonoID}" filterMatchMode="exact">
                    <p:outputLabel value="#{ab.cuentasporCobrarClientescuenta.clientesclienteNumeroCuenta.personaID.nombre1}"/>

                </p:column>

                <p:column>

                    <f:facet name="header" >Abono anterior</f:facet>
                        #{ab.abonoAnterior}
                </p:column>
                <p:column>
                    <f:facet name="header" >Abono Actual</f:facet>
                        #{ab.abonoActual}
                </p:column>

                <p:column>
                    <f:facet name="header" >Fecha de registro</f:facet>
                        #{ab.abonoFechaRegistro}
                </p:column>


            </p:dataTable>
        </h:form>

        <p:dialog header="AgregarAbonos" widgetVar="abDialog" id="dialogdd" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmAdd">
                <p:outputPanel id="abDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Id:" />
                        <p:inputText value="#{abonoMB.abonoAgregar.abonoID}" />

                        <h:outputText value="Cuenta por cobrar:" />
                        <p:inputText value="#{abonoMB.abonoAgregar.cuentasporCobrarClientescuenta}" />

                        <h:outputText value="Abono anterior:" />
                        <p:inputText value="#{abonoMB.abonoAgregar.abonoAnterior}" />

                        <h:outputText value="Abono Actual" />
                        <p:inputText value="#{abonoMB.abonoAgregar.abonoActual}" />


                        <p:commandButton actionListener="#{abonoMB.addAbonos()}" update=":AbonoForm:growl" value="Agregar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>

    </ui:define>
</ui:composition>
