<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="top">   
        <h:form>
            <p:commandButton value="Agregar" icon="ui-icon-circle-plus" onclick="PF('deptoDialog').show();"  /> 
        </h:form>

    </ui:define>

    <ui:define name="content">
        <h:form id="frmDepartamentos">
            <p:growl id="growl" sticky="true" showDetail="true"/>
            <p:dataTable id="tblDepartamentos" value="#{contadorMB.listaContadores}" var="contador" >
                <p:column>
                    <f:facet name="header">ID</f:facet>
                        #{contador.contadorID}
                </p:column>
                <p:column>
                    <f:facet name="header">Numero</f:facet>
                        #{contador.numeroContador}
                </p:column>
                <p:column>
                    <f:facet name="header">Estado</f:facet>
                        #{contador.estado}
                </p:column>
                <p:column>
                    <f:facet name="header">Edición</f:facet>
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{contadorMB.abrirDialogoModificar(contador)}" update=":frmMod:deptoDetailMod" oncomplete="PF('deptoDialogMod').show();" >
                    </p:commandButton>
                    <p:commandButton icon="ui-icon-trash" actionListener="#{contadorMB.eliminarContador(contador)}" />

                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog header="Contador" widgetVar="deptoDialog" id="dialogdd" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmAddDepartamento">
                <p:outputPanel id="deptoDetalle" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Contador " />
                        <p:inputText value="#{contadorMB.contadorNuevo.numeroContador}" validatorMessage="Campo numero de contador requerido" />

                        <h:outputText value="Cuenta: " />
                        <p:selectOneMenu id="selectPais" value="#{contadorMB.idCuenta}" >                                
                            <f:selectItem itemValue="0" itemLabel="Seleccionar" />
                            <f:selectItems value="#{contadorMB.listaCuentasPorCobrar}" var="pa" itemValue="#{pa.numeroCuenta}" itemLabel="#{pa.numeroCuenta}- #{pa.clientesclienteNumeroCuenta.personaID}" ></f:selectItems>                                           
                        </p:selectOneMenu>

                        <p:commandButton actionListener="#{contadorMB.agregarContador()}" update=":frmDepartamentos:growl" value="Agregar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>

        <p:dialog header="Contador" widgetVar="deptoDialogMod" id="dialogMod" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmMod">
                <p:outputPanel id="deptoDetailMod" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="numero de contador: " />
                        <p:inputText value="#{contadorMB.contadorSeleccionado.numeroContador}" validatorMessage="Campo  requerido" />


                        <h:outputText value="Cuenta:" />
                        <p:selectOneMenu id="selectEditPais" value="#{contadorMB.idCuenta}" >                                                            
                            <f:selectItems value="#{contadorMB.listaCuentasPorCobrar}" var="paisE" itemValue="#{paisE.numeroCuenta}" itemLabel="#{paisE.numeroCuenta}" ></f:selectItems>                                           
                        </p:selectOneMenu>


                        <p:commandButton actionListener="#{contadorMB.modificarCuenta()}" update=":frmDepartamentos:growl" value="Modificar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>



    </ui:define>

</ui:composition>
