<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">



    <ui:define name="top">
        <h:form id="frm1">
            <p:commandButton value="Agregar" icon="ui-icon-circle-plus" actionListener="#{municipioMB.reestablecerFormato()}" onclick="PF('usDialog').show();"  /> 
        </h:form>
    </ui:define>

    <ui:define name="content">
        <h:form id="frmUs">
            <p:growl id="growl" sticky="false" showDetail="true"/>
            <p:dataTable id="tabUsuarios" value="#{municipioMB.lsp}" var="p" >
                <p:column>
                    <f:facet name="header">ID</f:facet>
                        #{p.municipioID}
                </p:column>
                <p:column>
                    <f:facet name="header">Nombre</f:facet>
                        #{p.muniNombre}
                </p:column>
                <p:column>
                    <f:facet name="header">DeptoID</f:facet>
                        #{p.deptoID.deptoNombre}
                </p:column>


                <p:column>
                    <f:facet name="header">Edición</f:facet>
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{municipioMB.modificarMunicipio(p)}" />

                    <p:commandButton icon="ui-icon-trash" actionListener="#{municipioMB.eliminarMunicipio(p)}" />

                </p:column>
            </p:dataTable>
        </h:form>

        <p:dialog header="Municipio" widgetVar="usDialog" id="dialogdd" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmAdd">
                <p:outputPanel id="usDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Nombre Municipio:" />
                        <p:inputText value="#{municipioMB.p.muniNombre}" validatorMessage="Campo Nombre requerido" />

                        <p:outputLabel for="pais" value="País: " />
                        <p:selectOneMenu id="pais" value="#{municipioMB.idPaisSeleccionado}" style="width:150px">
                            <p:ajax listener="#{municipioMB.obtenerDeptoPorPais(false)}" />
                            <f:selectItem itemLabel="Seleccionar" itemValue="0" noSelectionOption="true" />
                            <f:selectItems value="#{municipioMB.lpaises}" var="pais" itemLabel="#{pais.paisNombre}" itemValue="#{pais.paisID}" />
                        </p:selectOneMenu>
                        <h:outputText value="Depto ID:" />
                        <p:selectOneMenu id="depto" disabled="#{municipioMB.mostrarDeptos}" value="#{municipioMB.depto}" style="width:150px">
                            <f:selectItem itemLabel="Seleccionar" itemValue="0" noSelectionOption="true" />
                            <f:selectItems value="#{municipioMB.lp}" var="depto" itemLabel="#{depto.deptoNombre}" itemValue="#{depto.deptoID}" />
                        </p:selectOneMenu>
    <!--                        <p:inputText value="#{municipioMB.depto}" validatorMessage="Campo Nombre requerido" />-->

                        <p:commandButton actionListener="#{municipioMB.agregarMunicipio()}" update=":frmUs:growl" value="Agregar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>  

        <!-- Formulario de Modificación de Usuarios -->
        <p:dialog header="Municipio" widgetVar="usDialogMod" id="dialogMod" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmMod">
                <p:outputPanel id="usDetailMod" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Nombre Municipio:" />
                        <p:inputText value="#{municipioMB.PSeleccionado.muniNombre}"  />   

                        <p:outputLabel for="paisMod" value="País: " />
                        <p:selectOneMenu id="paisMod" value="#{municipioMB.idPaisSeleccionado}" style="width:150px">
                            <p:ajax listener="#{municipioMB.obtenerDeptoPorPais(false)}" />
                            <f:selectItem itemLabel="Seleccionar" itemValue="0" noSelectionOption="true" />
                            <f:selectItems value="#{municipioMB.lpaises}" var="pais" itemLabel="#{pais.paisNombre}" itemValue="#{pais.paisID}" />
                        </p:selectOneMenu>
                        
                        <h:outputText value="DeptoID:" />
                        <p:selectOneMenu id="depto1" value="#{municipioMB.depto}" style="width:150px">
                            <f:selectItem itemLabel="Seleccionar" itemValue="0" noSelectionOption="true" />
                            <f:selectItems value="#{municipioMB.lp}" var="depto" itemLabel="#{depto.deptoNombre}" itemValue="#{depto.deptoID}" />
                        </p:selectOneMenu>


                        <p:commandButton actionListener="#{municipioMB.aplicarCambiosMunicipio()}" update=":frmUs:growl" value="Modificar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog> 

    </ui:define>

</ui:composition>
