<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <h:outputStylesheet name="./css/estilosSacsa.css"/>
        <title>Sacsa</title>
    </h:head>

    <h:body>        

        <p:layout fullPage="true">
            <p:layoutUnit position="west" size="225" >
                <p:outputLabel style="margin: 0px 60px;font-size: 20px;font-weight: bold;">SACSA</p:outputLabel>
                <ui:insert name="left">
                    <h:form >
                        <br />
                        <p:commandButton value="Inicio" icon="ui-icon-home" action="/faces/index.xhtml" />
                        <p:commandButton value="Cerrar Sesión" icon="ui-icon-power" action="#{loginMB.cerrarSesion()}" />
                        <br /><br />
                        <div style="padding-bottom: 5px;">
                            <p:clock pattern="yyyy-MM-dd HH:mm:ss " />    
                        </div>

                        <hr />

                        <p:panelMenu style="width:200px">
                            <p:submenu label="Sistema" >
                                <p:menuitem value="Pagos" outcome="/faces/pagos/pagos" icon="ui-icon-check" /> 
                                <p:menuitem value="Personas" outcome="/faces/personas/personasview" rendered="#{loginMB.menu.personas}" icon="ui-icon-person" />                                   
                                <p:menuitem value="Directivas" outcome="/faces/directivas/directivas" rendered="#{loginMB.menu.directivas}" icon="ui-icon-person" />
                                <p:menuitem value="Contadores" outcome="/faces/contadores/contadores" rendered="#{loginMB.menu.contadores}"  icon="ui-icon-calculator" />
                                <p:menuitem value="Cuentas por Cobrar" outcome="/faces/cuentas/ctasCliente" rendered="#{loginMB.menu.cuentasxcobrar}" icon="ui-icon-contact" />
                                <p:menuitem value="Lecturas" outcome="/faces/lectura/lecturaview" rendered="#{loginMB.menu.lecturas}"  icon="ui-icon-clock" />
                                <p:menuitem value="Histórico de lecturas" outcome="/faces/colecturia/historico" icon="ui-icon-document" />
                            </p:submenu>            

                            <p:submenu label="Configuraciones" rendered="#{loginMB.menu.configuraciones}" >
                                <p:menuitem value="Parámetros Generales" outcome="/faces/parametro/parametro"  icon="ui-icon-wrench"/>
                                <p:menuitem value="Usuarios" outcome="/faces/usuarios/usuariosview"  icon="ui-icon-person" />                                    
                                <p:menuitem value="Grupos" outcome="/faces/grupos/grupo"  icon="ui-icon-person" /> 
                                <p:menuitem value="Países" outcome="/faces/pais/paisview"  ajax="false" icon="ui-icon-flag"/>
                                <p:menuitem value="Departamentos" outcome="/faces/departamentos/deptos" icon="ui-icon-carat-1-e"/>
                                <p:menuitem value="Municipios" outcome="/faces/municipio/municipioview"  icon="ui-icon-carat-1-e"/>
                                <p:menuitem value="Tipos de Documento" outcome="/faces/TipoDocumento/TipoDocumentoView"  icon="ui-icon-carat-1-e"/>
                                <p:menuitem value="Servicios" outcome="/faces/servicios/serviciosview"  icon="ui-icon-carat-1-e"/>
                            </p:submenu>

                            <p:submenu label="Reportes" rendered="#{loginMB.menu.reportes}" >
                                <p:menuitem value="Clientes" outcome="/faces/rpt/rptClientes"  icon="ui-icon-document" />
                                <p:menuitem value="Personas" outcome="/faces/rpt/rptPersonas" icon="ui-icon-document" />
                                
                            </p:submenu>
                        </p:panelMenu>
                    </h:form>
                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="center" >
                <p:layout fullPage="false">
                    <p:layoutUnit position="north" >
                        <ui:insert name="top">
                            Contenido 1
                        </ui:insert>
                    </p:layoutUnit>
                    <p:layoutUnit position="center" >
                        <ui:insert name="content">
                            Contenido
                        </ui:insert>
                    </p:layoutUnit>
                </p:layout>

            </p:layoutUnit>
        </p:layout>

    </h:body>

</html>
