<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">



    <ui:define name="top">
        <h:form id="frm1">
            <p:commandButton value="Agregar" icon="ui-icon-circle-plus" onclick="PF('usDialog').show();"  /> 
        </h:form>
    </ui:define>

    <ui:define name="content">
        <h:form id="frmUs">
            <p:growl id="growl" sticky="false" showDetail="true"/>
            <p:dataTable id="tabUsuarios" value="#{lecturaMB.lsp}" var="p" >
                <p:column>
                    <f:facet name="header">LecturaID</f:facet>
                        #{p.lecturaID}
                </p:column>
                <p:column>
                    <f:facet name="header">FechaLectura</f:facet>
                        #{p.fechaLectura}
                </p:column>
                <p:column>
                    <f:facet name="header">Valor Lectora</f:facet>
                        #{p.valorLectura}
                </p:column>
                <p:column>
                    <f:facet name="header">Periodo Inicio</f:facet>
                        #{p.periodoInicio}
                </p:column>
                <p:column>
                    <f:facet name="header">Perido Final</f:facet>
                        #{p.periodoFinal}
                </p:column>
                <p:column>
                    <f:facet name="header">Id Lector</f:facet>
                        #{p.IDLector}
                </p:column>
                <p:column>
                    <f:facet name="header">Cliente Cuenta</f:facet>
                        #{p.clienteCuenta}
                </p:column>

                <p:column>
                    <f:facet name="header">Edición</f:facet>
                    <p:commandButton icon="ui-icon-pencil" actionListener="#{lecturaMB.modificarLectura(p)}" />

                    <p:commandButton icon="ui-icon-trash" actionListener="#{lecturaMB.eliminarLectura(p)}" />

                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog header="Lectura" widgetVar="usDialog" id="dialogdd" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmAdd">
                <p:outputPanel id="usDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Fecha Lectura:" />
                        <p:calendar id="popup" value="#{lecturaMB.p.fechaLectura}" navigator="true" pattern="yyyy-MM-dd" yearRange="c-70:c"  validatorMessage="Campo Nombre requerido" />

                        <h:outputText value="Valor Lectura:" />
                        <p:inputText value="#{lecturaMB.p.valorLectura}" validatorMessage="Campo  requerido" />

                        <h:outputText value="Periodo Inicio:" />
                        <p:calendar id="popup1" value="#{lecturaMB.p.periodoInicio}" navigator="true" pattern="yyyy-MM-dd" yearRange="c-70:c"  validatorMessage="Campo Nombre requerido" />

                        <h:outputText value="Periodo Final:" />
                        <p:calendar id="popup2" value="#{lecturaMB.p.periodoFinal}" navigator="true" pattern="yyyy-MM-dd" yearRange="c-70:c"  validatorMessage="Campo Nombre requerido" />

                        <h:outputText value="Id Lector:" />
                        <p:inputText value="#{lecturaMB.p.IDLector}" validatorMessage="Campo  requerido" />

                        <h:outputText value="Cliente Cuenta:" />
                        <p:inputText value="#{lecturaMB.valorCuenta}" validatorMessage="Campo  requerido" />

                        <p:commandButton actionListener="#{lecturaMB.agregarLectura()}" update=":frmUs:growl" value="Agregar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>

        <!-- Formulario de Modificación de Usuarios -->
        <p:dialog header="Lectura" widgetVar="usDialogMod" id="dialogMod" modal="true" resizable="false" appendTo="@(body)" >
            <h:form id="frmMod">
                <p:outputPanel id="usDetailMod" style="text-align:center;">
                    <p:panelGrid  columns="2" columnClasses="label,value">

                        <h:outputText value="Nombre:" />
                        <p:inputText value="#{lecturaMB.PSeleccionado.fechaLectura}" />

                        <h:outputLabel value="Pais Moneda:" />
                        <p:inputText value="#{lecturaMB.PSeleccionado.valorLectura}" />

                        <h:outputText value="Contraseña:" />
                        <p:inputText value="#{lecturaMB.PSeleccionado.periodoInicio}" />           

                        <h:outputText value="Contraseña:" />
                        <p:inputText value="#{lecturaMB.PSeleccionado.periodoFinal}" />  

                        <h:outputText value="Contraseña:" />
                        <p:inputText value="#{lecturaMB.PSeleccionado.IDLector}" />   

                        <h:outputText value="Contraseña:" />
                        <p:inputText value="#{lecturaMB.PSeleccionado.clienteCuenta}" />  

                        <p:commandButton actionListener="#{lecturaMB.aplicarCambiosLectura()}" update=":frmUs:growl" value="Modificar" />

                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog> 
    </ui:define>

</ui:composition>
