<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="top">
        <h1>Reporte de Clientes</h1>    
    </ui:define>
    <ui:define name="content" >

        <h:form id="frm-home">
          
            <h:panelGrid columns="2">
                <h:outputText value="Fecha Inicio:" />
                <p:calendar id="popup1" value="#{reporteClienteMB.fechaInicio}" navigator="true" pattern="yyyy-MM-dd" yearRange="c-70:c"  validatorMessage="Campo Nombre requerido" />
                <h:outputText value="Fecha Fin: " />
                <p:calendar id="popup2" value="#{reporteClienteMB.fechaFin}" navigator="true" pattern="yyyy-MM-dd" yearRange="c-70:c"  validatorMessage="Campo Nombre requerido" />
                <p:commandButton id="btnReporteFiltro" value="Filtrar Reporte" 
                                 update="@form"
                                 actionListener="#{reporteClienteMB.filtrarReporte()}" />
                  <p:commandButton id="btnReporte" value="Generar Reporte" 
                             update="@form"
                             actionListener="#{reporteClienteMB.noFiltrarReporte()}" />
                <p:blockUI block="frm-home" trigger="btnReporte">
                    Cargando...<br />
                    <img src="../resources/imagenes/progress_bar.gif" width="450" height="150"/>
                </p:blockUI>
                    <p:blockUI block="frm-home" trigger="btnReporteFiltro">
                    Cargando...<br />
                    <img src="../resources/imagenes/progress_bar.gif" width="450" height="150"/>
                </p:blockUI>
            </h:panelGrid>

            <div class="column-center">
                <p:media cache="false"  rendered="#{reporteClienteMB.streamedContent ne null}" width="900" height="600" value="#{reporteClienteMB.streamedContent}" player="pdf"/>
            </div>
        </h:form>
    </ui:define>

</ui:composition>




