<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="./../plantilla/plantillaprincipal.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="top">

    </ui:define>


    <ui:define name="content">

        <p:panel header="Reporte Personas">
            <h:form id="frm-home">
                <h:panelGrid columns="2">

                    <p:commandButton id="btnReporte" value="Generar Reporte" 
                                     update="@form"
                                     actionListener="#{reportePersonaMB.mostrar()}" />
                    <p:blockUI block="frm-home" trigger="btnReporte">
                    Cargando...<br />
                    <img src="../resources/imagenes/progress_bar.gif" width="450" height="150"/>
                </p:blockUI>
                </h:panelGrid>

                <div class="column-center">
                    <p:media cache="false" rendered="#{reportePersonaMB.streamedContent ne null}" width="900" height="600" value="#{reportePersonaMB.streamedContent}" player="pdf"/>
                </div>
            </h:form>
        </p:panel>
    </ui:define>

</ui:composition>




