<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                 xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" >
    

    <ui:define name="top">
          <h:form id="frm2">
            <p:commandButton value="Agregar" icon="ui-icon-circle-plus"  /> 
        </h:form>
    </ui:define>

    <ui:define name="content">
        <h:form id="frmFacturas">
            <p:growl id="growl" sticky="false" showDetail="true"/>
            <p:commandButton value="Generar Facturas" actionListener="#{facturacionMB.imprimirDatosEnConsola()}" />
        </h:form>
        
    </ui:define>

</ui:composition>
