<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../plantilla/plantillaprincipal.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >


    <ui:define name="top">
        <h:form id="frm2">
            <p:panel header="Historico de lecturas">
        </p:panel>
        </h:form>
    </ui:define>

    <ui:define name="content">        
        <h:form id="frm-home">
            <p:growl id="growl" sticky="false" showDetail="true"/>

            <h:panelGrid columns="2">
                <h:outputText value="Numero de cuenta del cliente" />

                <p:inputText value="#{historicoLecturaMB.historicoLectura.numCuenta}" required="true" label="N° Cuenta" validatorMessage="Debe ingresar un numero de cuenta"/>

                <h:outputText value="Desde fecha lectura:" />
                <p:calendar id="popup1" value="#{historicoLecturaMB.desde}" navigator="true" pattern="yyyy-MM-dd" yearRange="c-70:c"  validatorMessage="Campo desde requerido" />
                <h:outputText value="Hasta fecha lectura : " />
                <p:calendar id="popup2" value="#{historicoLecturaMB.hasta}" navigator="true" pattern="yyyy-MM-dd" yearRange="c-70:c"  validatorMessage="Campo hasta requerido" />

                <p:commandButton id="btnFiltro" value="Filtrar " 
                                 update="@form"
                                 actionListener="#{historicoLecturaMB.filtrarPorNumerDeCuenta()}" />
                <p:blockUI block="frm-home" trigger="btnFiltro">
                    Cargando...<br />
                    <img src="../resources/imagenes/progress_bar.gif" width="450" height="150"/>
                </p:blockUI>
            </h:panelGrid>
            <br></br><br></br>
            <p:panelGrid columns="2" rendered="#{historicoLecturaMB.mostrarInfoCliente}">
                <f:facet name="header">
                    Datos del cliente
                </f:facet>
                <h:outputText value="Nombre:" />
                <h:outputText value=" #{historicoLecturaMB.clienteLecturas.personaID.toString()}" />
                <h:outputText value="Exportar" />
                <h:commandLink>
                    <p:graphicImage library="resources" name="imagenes/pdf.png" />
                    <p:dataExporter type="pdf" target="tabResults" fileName="historicos" pageOnly="true" />
                </h:commandLink>
            </p:panelGrid>

            <div class="column-center">

                <p:dataTable id="tabResults" var="historico" value="#{historicoLecturaMB.listaHistorico}" emptyMessage="No se encontro historico">
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="Abono" />  
                        </f:facet>  
                        <h:outputText value="#{historico.abono}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="Cancelado" />  
                        </f:facet>  
                        <h:outputText value="#{historico.pagoCancelado}"/>                          
                    </p:column>
                    <p:column>                        
                        <f:facet name="header">  
                            <h:outputText value="Saldo" />  
                        </f:facet>  
                        <h:outputText value="#{historico.saldo}"/>                              
                    </p:column>
                    <p:column>                        
                        <f:facet name="header">  
                            <h:outputText value="Numero de meses a pagar" />  
                        </f:facet>  
                        <h:outputText value="#{historico.clienteMNumMsPagar}"/>                             
                    </p:column>

                </p:dataTable>


            </div>
        </h:form>

    </ui:define>

</ui:composition>
